<!-- IF S_STEAMSTATUS_SHOW -->
		<h3>{L_STEAMSTATUS_STEAM_TITLE}</h3>
		<dl>
			<dt><label for="steamstatus_steamid">{L_STEAMSTATUS_STEAMID}{L_COLON}</label><br /><span>{L_STEAMSTATUS_STEAMID_EXPLAIN}</span></dt>
			<dd><input type="text" class="inputbox autowidth" name="steamstatus_steamid" id="steamstatus_steamid" size="40" maxlength="255" value="{STEAMSTATUS_STEAMID}" /></dd>
		</dl>
		<dl>
			<dt><label for="steamstatus_preview">{L_PREVIEW}{L_COLON}</label></dt>
			<dd><div id="steamstatus_preview"><!-- INCLUDE @stevotvr_steamstatus/steamstatus.html --></div></dd>
		</dl>
<!-- ENDIF -->
