{% include 'ucp_header.html' %}

<h2>{{ lang('UCP_STEAMSTATUS_TITLE') }}</h2>

<div class="panel">
	<div class="inner">
	<p>{{ lang('UCP_STEAMSTATUS_NOTICE') }}</p>

	{% if ERROR %}<p class="error">{{ ERROR }}</p>{% endif %}

	{% if STEAMSTATUS_STEAMID %}

	<hr>

	<form action="{{ U_ACTION }}" method="POST" data-ajax="true" data-refresh="true">
		<input type="hidden" name="action" value="disconnect">
		{{ lang('UCP_STEAMSTATUS_STEAMID') ~ lang('COLON') }} {{ STEAMSTATUS_STEAMID }}
		<input class="button2" type="submit" name="submit" value="{{ lang('UCP_STEAMSTATUS_DISCONNECT') }}">
	</form>

	<br>

	{% if S_STEAMSTATUS_SHOW %}
		{% include '@stevotvr_steamstatus/steamstatus.html' %}
	{% endif %}

	{% else %}

	<a href="{{ U_STEAMSTATUS_OPENID }}"><img src="{{ STEAMSTATUS_IMAGE_PATH }}" alt="{{ lang('UCP_STEAMSTATUS_OPENID_IMG_ALT') }}" width="180" height="35"></a>

	{% endif %}

	</div>
</div>

{% include 'ucp_footer.html' %}
