<!-- IF S_STEAMSTATUS -->
	<script>
		$(function () {
			'use strict';
			var steamids = {};
			$('.steamstatus').each(function () {
				var steamid = $(this).data('steamid');
				if (steamid) {
					steamids[steamid] = true;
				}
			});
			steamids = Object.keys(steamids);
			if (steamids.length) {
				$.ajax({
					url: '{U_STEAMSTATUS_CONTROLLER}',
					dataType: 'json',
					cache: false,
					data: {'steamids': steamids.join(',')}
				})
				.done(function(data) {
					$.each(data.status, function(index, val) {
						var container = $('.steamstatus[data-steamid=' + val.steamid + ']');
						container.removeClass('steam-online').removeClass('steam-ingame');
						if (val.state === 1) {
							container.addClass('steam-online');
						} else if (val.state === 2) {
							container.addClass('steam-ingame');
						}
						container.children('img').attr('src', val.avatar);
						container.children('.steam-name').text(val.name);
						container.children('.steam-status').text(val.status);
						container.children('.steam-links').children('.steam-profile').attr('href', val.profile);
					});
				});
			}
		});
	</script>
<!-- ENDIF -->
