<script>
	$(function () {
		'use strict';
		var ids = [];
		$('.steamstatus').each(function () {
			var id = $(this).data('steamid');
			if(id) {
				ids.push(id);
			}
		});
		if(ids.length) {
			$.ajax({
				url: '{STEAMSTATUS_CONTROLLER}',
				dataType: 'json',
				cache: false,
				data: {'list': JSON.stringify({'ids': ids})}
			})
			.done(function(data) {
				$.each(data.status, function(index, val) {
					var container = $('.steamstatus[data-steamid=' + val.steamid + ']');
					container.removeClass('steam_online').removeClass('steam_ingame');
					if(val.state === 1) {
						container.addClass('steam_online');
					} else if(val.state === 2) {
						container.addClass('steam_ingame');
					}
					container.children('img').attr('src', val.avatar);
					container.children('.name').text(val.name);
					container.children('.status').text(val.status);
					container.children('.links').children('.profile').attr('href', val.profile);
				});
			});
		}
	});
</script>
